{% extends 'main/header.html' %}
{% load static %}
{% block content %}
<div id='bodyrow' class='row' style='position: relative; height:60%;'>
<div class='col s12 m12'>
 <div class='card white darken-1 z-depth-4'>
 <div class='card-panel black-text'>
 <h1>First Blog Post</h1>
 <p>Hello There!

I'm excited for what's to come. I forked Luke Smith's Blog system and customized it to accommodate my Django backend, the goal being that creating blog posts from this point forward should be very easy.

What to expect: 
<ul class="browser-default">
  <li> I hope to reflect on something interesting I come across in my life, and will use this public blog to motiviate myself to do so at least once a week. </li> 
  <li > Most posts will be relatively short. </li>
  <li> My plan is to do very few revisions after posting to maintain authenticity. </li>
</ul>
 </p>
 </div>
</div>
</div>
</div>

 {% endblock %}
