{% extends "main/header.html" %}

{% block content %}


<div id="bodyrow" class="row" style="position: relative; height:60%;">

    <div class="col l12 s12" style="">
        <div class="card white darken-1">
            <div class="card-panel black-text">
                <p style="font-size: 20px;">
                  no blogs yet...
                </p>
            </div>
        </div>
    </div>

    <div id="big_screen_dividier" class="col l12 s12" style="height: 0%">
    </div>

    <div class="col l3 s6" style="float: right;">
        <div class="card white darken-1" style="">
            <div class="card-panel">
                <a href="https://github.com/ruborcalor" target="_blank" class="fa fa-github" style="width: 100%;"></a>
            </div>
        </div>
    </div>

    

    <div class="col l3 s6" style="">
        <div class="card white darken-1" style="">
            <div class="card-panel">
                <a href="https://www.youtube.com/channel/UC0ILWdAXUmCI2XYvqcv-A2g" target="_blank" class="fa fa-youtube" style="width: 100%;"></a>
            </div>
        </div>
    </div>


    <div class="col l3 s6" style="">
        <div class="card white darken-1" style="">
            <div class="card-panel">
                <a href="https://www.linkedin.com/in/colekillian/" target="_blank" class="fa fa-linkedin" style="width: 100%;"></a>
            </div>
        </div>
    </div>

    <div class="col l3 s6" style="">
        <div class="card white darken-1" style="">
            <div class="card-panel">
                <a href="mailto:g.cole.killian@gmail.com" target="_blank" class="fa fa-envelope" style="width: 100%;"></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

