{% extends "main/header.html" %}

{% block content %}

<div class="row" style="width: 80%; position: relative; top: 150px; height:70%;">

    <div class="col s6" style="width:55%;">
        <div class="card white darken-1">
            <div class="card-panel black-text">
                <p style="font-size: 20px;">
                    hello there :)
                    <br>
                    i am <b>cole</b>
                    <br>
                    everything you are looking for is here
                </p>
            </div>
        </div>
    </div>

    <div class="col s2" style="float: right;">
        <div class="card white darken-1" style="width: 117px;">
            <div class="card-panel">
                <a href="https://github.com/ruborcalor" target="_blank" class="fa fa-github"></a>
            </div>
        </div>
    </div>

    <div class="col s12" style="height: 150px">
    </div>
    

    <div class="col s2" style="">
        <div class="card white darken-1" style="width: 117px;">
            <div class="card-panel">
                <a href="https://www.youtube.com/channel/UC0ILWdAXUmCI2XYvqcv-A2g" target="_blank" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>


    <div class="col s2 offset-s3" style="">
        <div class="card white darken-1" style="width: 117px;">
            <div class="card-panel">
                <a href="https://www.linkedin.com/in/colekillian/" target="_blank" class="fa fa-linkedin"></a>
            </div>
        </div>
    </div>

    <div class="col s2 offset-s3" style="">
        <div class="card white darken-1" style="width: 117px;">
            <div class="card-panel">
                <a href="mailto:g.cole.killian@gmail.com" target="_blank" class="fa fa-envelope"></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

